h1 a {
    color: #C190D4;
    font-family: "Pacifico"
}

body {
    color: #CC2D2D;
    font-family: "Pacifico"
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
